.predavac-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .ime-i-podaci {
    margin-right: 20px;
  }
  
  .slika-predavaca img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .podaci-o-predavacu {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    color: black;
    width: 450px; 
    box-shadow: 4px 2px 8px 4px rgba(0, 0, 0, 0.3);
    margin-right: 20px; 
  }
  
  .podaci-o-predavacu h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  