body {
  background-color: #809fc0;
  color: white;
}

.header {
  background-color: #586470;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.nav {
  margin-top: 10px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #fff;
  color: #333;
}

.nav-link.active {
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  color: black;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.select {
  display: block;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  color: black; 
  width: auto; 
  margin: 2px 0px 40px 0px;
}

.button {
  background-color: #0de414; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 10px; 
}

.button:hover {
  background-color: #10b618;
}

.form-container {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 30px; 
  margin-bottom: 20px;
  color: black;
}

.form-container label {
  display: block;
  margin-top: 5px;
  width: 400px;
}


.app-container {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.app-title {
  text-align: center;
  color: #333;
}



